{% extends "layout.html" %}

{% block body %}
<h3>Hakkımda</h3>
<hr>
Ben Türker Anlaroğlu, University of Idaho’da Water Resources (Soil & Water Systems) alanında doktora öğrencisiyim. Çalışmalarım ağırlıklı olarak hidroloji, kuraklık analizi, hidrolojik modelleme ve ekohidrolik uygulamalar üzerine odaklanmaktadır. Araştırmalarımda uzaktan algılama verileri, coğrafi bilgi sistemleri (GIS), istatistiksel analizler ve fizik tabanlı hidrolojik modelleri entegre ederek su kaynaklarının sürdürülebilir yönetimine yönelik çözümler geliştirmeyi amaçlıyorum. Akademik çalışmalarımın yanı sıra Python, ArcGIS Pro ve çeşitli hidrolojik modelleme araçlarıyla veri analizi ve görselleştirme konularında aktif olarak çalışmaktayım.

{% endblock %}